.side-navbar {
	padding: 2rem 2rem 0 0;

	.title {
		margin-bottom: 0.4rem;
		color: var(--black);
	}

	.subtitle {
		font-size: 0.7rem;
		color: var(--grey);
	}

	.input-container {
		margin: 4rem 0;
		position: relative;
		.icon {
			position: absolute;
			top: 12px;
			left: 0.5rem;
			color: var(--placeholder-light-grey);
		}

		.search-box {
			width: 100%;
			box-sizing: border-box;
			padding: 0.8rem 1rem 0.8rem 1.8rem;
			outline: none;
			border: none;
			border-radius: 0.6rem;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
			color: var(--black);
			min-width: 16rem;
			transition: box-shadow 250ms;

			&::placeholder {
				color: var(--placeholder-light-grey);
			}

			&:focus {
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05);
			}
		}
	}

	.navbar-item-container {
		display: flex;
		align-items: center;
		padding: 1rem 0;
		cursor: pointer;
		background-image: linear-gradient(90deg, transparent, transparent, transparent, transparent);
		transition: background-image 300ms;

		.icon-container {
			height: 3rem;
			width: 3rem;
			color: #ffffff;
			border-radius: 0.8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 1.2rem;
			font-size: 1.1rem;
		}

		.blue {
			background-color: var(--blue);
		}
		.purple {
			background-color: var(--purple);
		}
		.green {
			background-color: var(--green);
		}
		.black {
			background-color: var(--black);
		}

		.title-container {
			.title {
				margin-bottom: 0.4rem;
				color: var(--grey);
			}

			.subtitle {
				font-size: 0.7rem;
				color: var(--light-grey);
			}
		}

		&.active {
			background-image: linear-gradient(90deg, transparent, #1899f51a 25%, #1899f51a 75%, transparent);

			.title-container {
				.title {
					color: var(--black);
				}
			}
		}
	}
}
